<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS -->
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/main-area.css">
  <!-- js files -->
  <% if (!loggedIn) { %>
    <!-- These files load only when user not logged in -->
    <script src="../scripts/login.js" defer></script>
    <script src="../scripts/register_user.js" defer></script>
  <% } %>
  <% if (loggedIn) { %>
    <script src="../scripts/logout.js" defer></script>
    <script src="../scripts/submit_blog_post.js" defer></script>
    <script src="../scripts/edit_blog_post.js" defer></script>
    <script src="../scripts/delete_blog_post.js" defer></script>
  <% } %>
  <title>Simple Blog</title>
</head>
<body>
  <header>
    <h1>Simple Blog</h1>
    <!-- Display login inputs if not logged in, logout input if logged in-->
    <% if (loggedIn) { %>
        <div class="logout">
          <p>Logged in as: <%= currentUser %></p>
          <input type="button" class="logout-button" value="Logout">
        </div>
    <% } else { %>
      <div class="login-register">
        <div class="login">
          <label for="login">Login:</label>
          <input type="text" class="username-field" name="login" placeholder="username">
          <label for="password">Password:</label>
          <input type="password" class="password-field"  name="password" placeholder="password">
          <input type="button" class="submit-login" value="Login">
        </div>
        <div class="register">
          <p class="register-prompt">
            No account? <span class="click-register">REGISTER</span>
          </p>
        </div>
      </div>
    <% } %>
  </header>

  <!-- If user is not logged in do not display textarea for new post-->
  <!-- Do not display blog posts if not logged in -->
  
  <div class="main-area">
    <% if (loggedIn) { %>
      <div class="new-blog_post">
        <label for="title">Post title:</label>
        <input type="text" name="title" class="post-title">
        <textarea name="" class="post-body" cols="120" rows="30" style="resize: none"></textarea>
        <input type="button" class="submit-post" value="Submit Post">
      </div>
    <!-- Displays blog entries by current user stored in database -->
    <div class="blog-entries">
      <% blogPosts.forEach(post => { %>
        <div class="post-wrapper post-wrapper<%= post['id'] %>" name="<%= post['id'] %>">
          <p class="title"><%= post['title'] %> </p><span class="author">&ensp; - by <%= post['author'] %></span>
          <p class="content" name="<%= post['id'] %>"><%= post['content'] %></p>
          <p class="date">- <%= post['post_date'].toDateString() %></p>
          <div class="post-buttons">
            <input type="button" class="delete-post" name="<%= post['id'] %>" value="Delete Post">
            <input type="button" class="edit-post" name="<%= post['id'] %>" value="Edit Post">
          </div>
        </div>
      <% }); %>
    <% } %> <!-- End logged in specific HTML -->
    </div>
  </div>
</body>
</html> 