<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- js files -->
  <script src="../scripts/helper_funcitons/delete_blog_post.js" defer></script>
  <title>Simple Blog</title>
</head>
<body>
  <h1>Simple Blog</h1>
  <div class="new-blog_post">
    <form name="title" action="" style="display: flex; flex-direction: column;">
      <label for="title">Post title:</label>
      <input type="text">
      <textarea name="" id="" cols="120" rows="30" style="resize: none"></textarea>
    </form>
  </div>
  <div class="blog-entries">
    <% blogPosts.forEach(post => { %>
      <div class="post-wrapper">
        <p class="title"><%= post['title'] %> - by <span class="author"><%= post['author'] %></span></p>
        <p class="content"><%= post['content'] %></p>
        <p class="date"><%= post['post_date'].toDateString() %></p>
        <input type="button" class="delete-post" name="<%= post['id'] %>" value="x">
      </div>
    <% }); %> 
  </div>
</body>
</html> 