<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- js files -->
  <script src="../scripts/delete_blog_post.js" defer></script>
  <script src="../scripts/edit_blog_post.js" defer></script>
  <script src="../scripts/submit_blog_post.js" defer></script>
  <title>Simple Blog</title>
</head>
<body>
  <h1>Simple Blog</h1>
  <!-- Display login inputs if not logged in, logout input if logged in-->
  <% if (loggedIn) { %>
      <div class="logout">
        <p>Logged in as: <%= currentUser %></p>
        <input type="button" value="Logout">
      </div>
  <% } else { %> 
      <div class="login">
        <label for="login">Username:</label>
        <input type="text" name="login" placeholder="username">
        <label for="password">Password:</label>
        <input type="text" name="password" placeholder="password">
      </div>
      <div class="register">
        <p class="register-prompt">
          No account? <span class="click-register">REGISTER</span>
        </p>
      </div>
  <% } %> 

  <!-- If user is not logged in do not display textarea for new post-->
  <% if (loggedIn) { %>
    <div class="new-blog_post">
      <label for="title">Post title:</label>
      <input type="text" name="title" class="post-title">
      <textarea name="" class="post-body" cols="120" rows="30" style="resize: none"></textarea>
      <input type="button" class="submit-post" value="Submit Post">
    </div>
  <% } %>

  <!-- Displays blog entries by current user stored in database -->
  <div class="blog-entries">
    <% console.log(blogPosts) %>
    <% blogPosts.forEach(post => { %>
      <div class="post-wrapper post-wrapper<%= post['id'] %>" name="<%= post['id'] %>">
        <p class="title"><%= post['title'] %> - by <span class="author"><%= post['author'] %></span></p>
        <p class="content" name="<%= post['id'] %>"><%= post['content'] %></p>
        <p class="date"><%= post['post_date'].toDateString() %></p>
        <input type="button" class="delete-post" name="<%= post['id'] %>" value="Delete Post">
        <input type="button" class="edit-post" name="<%= post['id'] %>" value="Edit Post">
      </div>
    <% }); %> 
  </div>
</body>
</html> 